@model IEnumerable<KongOrange.Squares.DomainClasses.SquareSetPiece>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "SquareSetPieces", new { squareSetId = ViewBag.SquareSetId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.ImageUrl" alt="@item.Name" width="150" height="150" /> 
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id,  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, squareSetId = ViewBag.SquareSetId })
        </td>
    </tr>
}

</table>
