@model KongOrange.Squares.WebInterface.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="modal">
    <p>@ViewBag.Title</p>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <input type="submit" name="submitLogin" value="Email Link" />
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
