@using KongOrange.Squares.WebInterface.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}

<div class="modal">
    <p>Sign in with</p>
    <button id="facebookButton"></button>
    <p>OR</p>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-narrow", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new {placeholder = "Password"})
            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <input type="submit" name="submitLogin" value="Log in"/>
    }

    <div class="login-footer">
        @Html.ActionLink("Forgot?", "ForgotPassword")
        @Html.ActionLink("Register", "Register", null, new { id = "createButton" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}