@model KongOrange.Squares.DomainClasses.SquareSet

@{
    ViewBag.Title = Model.Name;
}

<article class="setContainer">
    <h1>@Html.DisplayFor(model => model.Name)</h1> <!-- //todo make it H2 -->
    <section class="setPiecesContainer">
        @foreach (var piece in Model.Pieces)
        {
            <div class="setPiece">
                <a href="@Url.Action("Details", "SquareSetPieces", new {id = piece.Id})"><img src="@piece.ImageUrl" alt="piece" /></a>
            </div>
        }
    </section>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</article>
