@model IEnumerable<KongOrange.Squares.DomainClasses.SquareSet>

@{
    ViewBag.Title = "Your sets";
}

<div id="profileMain">
    <h1>Your Sets</h1>
    <div>
        <p>@Html.ActionLink("Create a new set", "Create")</p>
    </div>
</div>

@foreach (var item in Model)
{
    <article class="setContainer">
        <h1>@Html.ActionLink(item.Name, "Details", new {id = item.Id})</h1> <!-- //todo make it H2 -->
        <section class="setPiecesContainer">
            @foreach (var piece in item.Pieces)
            {
                <div class="setPiece">
                    <a href="@Url.Action("Details", "SquareSetPieces", new {id = piece.Id})"><img src="@piece.ImageUrl" alt="piece"/></a>
                </div>
            }
        </section>
        <p>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })</p>
    </article>
}
